.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.top {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.imgContainer {
  width: 100%; /* Adjusted width for responsiveness */
  max-height: 400px; /* Set a maximum height for the image container */
  position: relative;
}

.img {
  width: 100%; /* Ensure the image takes up the entire width of its container */
  height: 100%; /* Ensure the image takes up the entire height of its container */
  object-fit: cover;
}

.date {
  font-size: 12px;
  transform: rotate(270deg);
  margin: auto;
}

.title {
  width: 100%; /* Adjusted width for responsiveness */
  font-size: 24px;
  margin-bottom: 20px;
}

.desc {
  width: 100%; /* Adjusted width for responsiveness */
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
}

.link {
  text-decoration: underline;
}

/* Media Query for screens smaller than 600px */
@media (max-width: 600px) {
  .imgContainer {
    max-height: 300px; /* Adjust the maximum height for smaller screens */
  }

  .title {
    font-size: 20px; /* Adjust the font size for smaller screens */
  }
}
